body {
    font: 14px/1.4 Arial, sans-serif;
}

.wrapper {
    display: flex;
    min-height:100%;
    max-height: 100%;
    background: #eee;
    box-sizing: border-box;
    padding: 0 30px;
}

.resume {
    width: 800px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(4, 4, 4, 0.35);
    margin: 30px auto;
    padding: 50px;
}

.short_info {
    display: flex;
    width: 500px;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}

.photo {
    box-shadow: 0 0 8px #666;
    margin: 10px;
}

.info {
   width: 50%;
}

h2 {
    font: bold 18px/1.5 Georgia, serif;
    color: #999;
    margin: 15px 0;
}

p, li {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
}

.skills li {
    display: block;
    margin: 10px;
}

table {
    margin: 50px auto;
}

th, td {
    padding: 10px;
    border: 1px solid #c2c2c2;
    vertical-align: middle;
}

th {
    text-align: center;
}

td{
    width:300px;
    text-align: left;
}
